body {

   background-image: url("../images/park.png");
   background-size: 100% 100%;
  background-color: transparent;
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  font-weight: 400;

}
p {
  line-height: 25px;
}
.block h2{

    font-style: normal;
    color: #fff;
}

// #block-views-block-events-block-1 h2.block-title
// {
//   background-image: url("../images/calendar.png");
//   background-repeat: no-repeat;
//   background-position: top left;
//   padding-left:30px;
// }
.main-container
{
	background-color:white;
	padding-bottom: 40px;
  border-bottom: 10px solid #432e84;
}

#block-readthelatestissue
{
	box-shadow: 1px 1px 5px #888888;
	background-color:#3c3f41;
	padding:10px;
}

h2
{
  font-size:22px;
}

.blockheader
{
	background: #a6b292;
	color:white;
  margin-top:20px;
  margin-bottom:10px;
  padding:10px;
}
.blockheader h2
{
  margin:0px;
  padding:0px;
}
.view-slideshow  .views-field-title h2
{
	font-size:28px;
  border:0px solid #a685bd;
  background: #fff;
  color:black;
}

#edit-name, #edit-mail, #edit-field-phone-number-0-value
{
	width:300px;
}
#edit-field-attachement-0-upload-button
{
margin:20px;
}
.form-control
{
	height:auto;
}
#block-searchform
{
  margin-top:80px;
}
.view-column-block .field--name-field-image img,
body.page-node-type-column article img{
	box-shadow: 1px 1px 2px #d2dde4;
}
.block-views-blocklatest-articles-block-1,
.block-views-blockcolumn-block-block-1
{
  background-color:#3c3f41;
  color:white;
  padding:15px;
}
.view-events ul li
{
  border-bottom:1px solid #454545;
  padding-bottom:10px;
}
.block-views-blocklatest-articles-block-1 .views-row,
#block-views-block-latest-articles-block-1 .views-row
{
  border-bottom:1px solid #454545;
  padding-bottom:10px;
  padding-top:10px;
  color:white;
}
.block-views-blocklatest-articles-block-1 a
{
  color:#9186b3;
}
.block-views-blocklatest-articles-block-1 ul{
  margin-top:20px;
  display: block;
  clear:both;
  font-size:16px;
}
.glyphicon-calendar
{
  font-size:20px;
}
.field--name-field-featured-image
{
  padding: 0 10px 10px 0;
}
.view-slideshow h2.field-content
{
  border-bottom:5px solid #788793;
  padding-bottom:15px;
  margin-bottom:25px;
}
.site-logo
{
  padding:10px;
}
.slides a,
.view-column-block a{
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
  padding:10px;
  margin-top:10px;
  float:left;
}
.block
{
  line-height:20px;
}
