body {

   background-image: url("../images/park.png");
   background-size: 100% 100%;
  background-color: transparent;

}
// #block-views-block-events-block-1 h2.block-title
// {
//   background-image: url("../images/calendar.png");
//   background-repeat: no-repeat;
//   background-position: top left;
//   padding-left:30px;
// }
.main-container
{
	background-color:white;
	box-shadow: 1px 1px 5px #888888;
	padding-bottom: 40px;
  border-bottom: 10px solid #432e84;
}

#block-readthelatestissue
{
	box-shadow: 1px 1px 5px #888888;
	background-color:#3c3f41;
	padding:10px;
}

h2
{
  font-size:22px;
}

.blockheader
{
	border:5px solid #a685bd;
	background: #9d82b2;
	color:white;
  margin-top:20px;
  margin-bottom:10px;
  padding:10px;
}
.blockheader h2
{
  margin:0px;
  padding:0px;
}
.view-slideshow  .views-field-title h2
{
	font-size:28px;
  border:0px solid #a685bd;
  background: #fff;
  color:black;
}

#edit-name, #edit-mail, #edit-field-phone-number-0-value
{
	width:300px;
}
#edit-field-attachement-0-upload-button
{
margin:20px;
}
.form-control
{
	height:auto;
}
#block-searchform
{
  margin-top:80px;
}
.view-column-block .field--name-field-image img,
body.page-node-type-column article img{
  border-bottom: 5px solid #432e84;
  border-right: 5px solid #9d82b2;
  border-left: 3px solid #432e84;
  border-top: 3px solid #9d82b2;
}
.view-events ul li
{
  border-bottom:1px solid #454545;
  padding-bottom:10px;
}
#block-views-block-latest-articles-block-1 .views-row
{
  border-bottom:1px solid #454545;
  padding-bottom:10px;
  padding-top:10px; 
}
.glyphicon-calendar
{
  font-size:20px;
}
.field--name-field-featured-image
{
  padding: 0 10px 10px 0;
}
