
a.navbar-brand
{
  display:none;
}
.footer
{
  background-color: black;
}

.item-list li
{
	margin-bottom: 10px;
}

.logo
{
	margin-bottom:20px;
}

.banner
{
	background-color: black;
	margin-bottom:20px;
	border-bottom: 10px solid #432e84;
}