
.region-sidebar-first
{
  background-color: black;
  padding:5px;
  color:white;
}
.bs-region
{
  box-shadow: 10px 10px 5px #888888;
}
a.navbar-brand
{
  display:none;
}
.footer
{
  background-color: black;
}
